@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.sidebar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: all 600ms ease;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar-item {
  width: 100%;
  position: relative;
}

.sidebar-item:last-child {
  margin-top: auto;
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: all var(--transition-speed) ease;
}

.sidebar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  opacity: 0;
  visibility: hidden;
  margin-left: 1rem;
  white-space: nowrap;
  transition: all var(--transition-speed) ease;
}

.sidebar-link i {
  font-size: 2rem;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.4rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: all var(--transition-speed) ease;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.menu-btn-burguer {
  width: 30px;
  height: 3px;
  background: var(--text-secondary);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn-burguer::before,
.menu-btn-burguer::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--text-secondary);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn-burguer::before {
  transform: translateY(-10px);
}

.menu-btn-burguer::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn-burguer {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burguer::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burguer::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#themeButton {
  background: var(--bg-secondary);
}

.theme-desc:before {
  color: var(--text-primary);
  font-size: 1rem;
  opacity: 0;
  transition: all 0.5s ease;
  white-space: nowrap;
  margin-left: 1rem;
  content: 'Dark Mode On';
}

.light .theme-desc:before {
  content: 'Dark Mode Off';
}

.sidebar .sidebar-item .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 18px);
  z-index: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  background: var(--text-secondary);
  color: var(--bg-secondary);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar .sidebar-item:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow: scroll;
    background: var(--bg-secondary);
    z-index: 999;
  }

  .logo {
    display: none;
  }

  .sidebar-nav {
    flex-direction: row;
  }

  .sidebar-item {
    position: static;
    width: 148px;
  }

  .sidebar-link {
    justify-content: center;
  }

  .theme-desc:before {
    display: none;
  }

  main {
    margin: 0;
  }

  .section-one {
    padding-bottom: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .sidebar.open {
    width: 16rem;
  }

  .sidebar.open .link-text {
    opacity: 1;
    visibility: visible;
  }

  .sidebar.open .logo .menu-btn {
    margin-left: 11rem;
  }

  .sidebar.open .logo-text {
    left: 0px;
  }

  .sidebar.open .theme-desc:before {
    opacity: 1;
  }

  .sidebar.open .sidebar-item .tooltip{
  display: none;
}
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.theme-icon {
  display: none;
}

#darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.light #darkIcon {
  display: none;
}
