@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

* {
  transition: width 0.6s ease,
              left 0.6s ease,
              opacity 1s ease-in;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  background-color: #f0f0f0;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #a6a6a6;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  margin-left: 5rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

a {
  transition: none;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.contact-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  -webkit-perspective:1000px;
  perspective: 1000px;
}

.contact-popup:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: #000;
  opacity: 0.4;
}

.contact-popup .popup-desc {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
  z-index: 1010;
  color: var(--text-primary);
  padding: 20px;
  -webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.contact-popup .popup-desc.animate {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact-popup .popup-desc .button-field {
  margin-top: -5px;
}

.contact-popup .popup-desc .button-field button {
  width: 70px;
  height: 30px;
  background: #0d6efd;
  border: none;
  color: #fff;
  box-shadow: rgba(0,0,0,0.3) 1.95px 1.95px 2.6px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: .25rem;
}

.contact-popup .popup-desc .button-field button:hover {
  transform: scale(1.07);
}

.contact-popup .popup-desc .button-field button:nth-child(2) {
  margin-right: 20px;
}

.to-top {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--text-primary);
  border-radius: 50%;
  color: var(--bg-primary);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s,
              transform 0.3s;
}

.to-top:hover {
  transform: scale(1.07);
}

/*
-------------------------------
------------NAVBAR-------------
-------------------------------
*/

.sidebar {
  position: fixed;
  background-color: var(--bg-primary);
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  width: 0px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  width: 100%;
  position: relative;
}

.sidebar-item:last-child {
  margin-top: auto;
}

.left-border {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 96px;
  border-left: 10px solid var(--text-secondary);
  pointer-events: none;
  transition: top 0.3s ease, left 0.3s ease;
  background: -webkit-linear-gradient(90deg, var(--nav-shadow); opacity: 0.7,rgba(0,0,0,0) 40%,rgba(0,0,0,0));
  background: linear-gradient(90deg,rgba(var(--nav-shadow), 0.7),rgba(0,0,0,0) 40%,rgba(0,0,0,0));
  z-index: 999;
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  cursor: pointer;
}

.home.active .sidebar-link {
    color: var(--text-secondary);
  }

.projects.active .sidebar-link {
  color: var(--text-secondary);
}

.sidebar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  opacity: 0;
  visibility: hidden;
  margin-left: 1rem;
  white-space: nowrap;
  text-shadow: 2px 4px 3px var(--text-shadow);
}

.sidebar-link i {
  font-size: 2rem;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.4rem;
}

.sidebar-link i::before {
  text-shadow: 2px 4px 3px var(--text-shadow);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  text-shadow: 2px 4px 3px var(--text-shadow);
}

.logo .sidebar-link {
  cursor: default;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}

.menu-btn-burguer {
  width: 30px;
  height: 3px;
  background: var(--text-secondary);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn-burguer:before,
.menu-btn-burguer:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--text-secondary);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-btn-burguer:before {
  transform: translateY(-10px);
}

.menu-btn-burguer:after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn-burguer {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  transition: all 0.5s ease-in;
}

.menu-btn.open .menu-btn-burguer::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burguer::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#themeButton {
  background: var(--bg-secondary);
  cursor: pointer;
}

.theme-desc:before {
  display: none;
  content: 'Dark Mode On';
}

.light .theme-desc:before {
  content: 'Dark Mode Off';
}

.sidebar .sidebar-item .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 18px);
  z-index: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 2px;
  background: var(--text-secondary);
  color: var(--bg-secondary);
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar .sidebar-item:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/*
-------------------------------
-----------CONTAINER-----------
-------------------------------
*/

.section-one {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.logotipo {
  margin-top: -60px;
  -webkit-animation: roll-in-top 0.6s ease-out both 5.2s;
          animation: roll-in-top 0.6s ease-out both 5.2s;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  opacity: 0;
}

.image.active {
  opacity: 1;
}

.scroll-line-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
  transition: opacity 0.6s;
}

.scroll-line {
  z-index: 20;
  display: block;
  width: 2px;
  height: 80px;
  margin-left: -1px;
  opacity: 1;
  background: var(--text-primary);
  transform-origin: top;
  transition: scaleY(0);
  animation: animate 2.5s infinite 5.3s forwards;
  animation-play-state: running;
}

.scroll-line-div.animate {
  opacity: 0;
}

.scroll-line-div i {
  margin-top: 20px;
  font-size: 1.3rem;
}

.scroll-line-div.animate .scroll-line {
  animation-play-state: paused;
}

.title-text,
.typing-effect {
  width: max-content;
}

.typing-effect {
  margin-bottom: 25px;
  
}

.title-text h1,
.typing-effect h2 {
  position: relative;
  font-family: "Source Code Pro", sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 4px 3px var(--text-shadow);
}

.title-text h1:before,
.title-text h1:after,
.typing-effect h2:before,
.typing-effect h2:after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  left: 0;
}

.title-text h1:before,
.typing-effect h2:before {
  height: 60px;
}

.title-text.active h1:before {
  background: var(--bg-primary);
  animation: typewriter 5.2s steps(17) forwards;
}

.main-project-title.active h2:before {
  background: var(--bg-primary);
  animation: typewriter 4s steps(13) forwards;
}

.recent-posts-title.active h2:before {
  background: var(--bg-primary);
  animation: typewriter 3.5s steps(12) forwards;
}

.all-js-title.active h2:before {
  background: var(--bg-primary);
  animation: typewriter 6s steps(23) forwards;
}

.websites-title.active h2:before {
  background: var(--bg-primary);
  animation: typewriter 3s steps(8) forwards;
}

.title-text.active h1:after {
  width: 2px;
  background: var(--text-primary);
  animation: typewriter 5.2s steps(17) forwards;
}

.main-project-title.active h2:after {
  width: 2px;
  background: var(--text-primary);
  animation: typewriter 4s steps(13) forwards;
}

.recent-posts-title.active h2:after {
  width: 2px;
  background: var(--text-primary);
  animation: typewriter 3.5s steps(12) forwards;
}

.all-js-title.active h2:after {
  width: 2px;
  background: var(--text-primary);
  animation: typewriter 6s steps(23) forwards;
}

.websites-title.active h2:after {
  width: 2px;
  background: var(--text-primary);
  animation: typewriter 3s steps(8) forwards;
}

#container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  width: 95%;
}

.main-project {
  width: 100%;
  height: 500px;
  display: grid; 
  grid-template-columns: 1.5fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "proj1 proj1 proj2 proj2"
    "proj1 proj1 proj3 proj4"; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.proj1 { grid-area: proj1; position: relative; }
.proj2 { grid-area: proj2; position: relative; }
.proj3 { grid-area: proj3; position: relative; }
.proj4 { grid-area: proj4; position: relative; }

.image-desc {
  position: absolute;
  bottom: 5px;
  left: 15px;
  z-index: 1;
  color: #fff;
  pointer-events: none;
}

.image-title {
  font-size: 1.5rem;
}

.proj3 .image-title,
.proj4 .image-title {
  font-size: 1rem;
}

.image-desc p a {
  pointer-events: auto;
}

.proj3 .image-desc p,
.proj4 .image-desc p {
  font-size: 0.8rem;
}

.project-image {
  width: 100%;
  height: 100%;
  display: block;
}

.proj1 .project-image {
  background: url("../img/pokedex.png") no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.proj2 .project-image {
  background: url("../img/detect_adblock.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.proj3 .project-image {
  background: url("../img/detect_browser.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.proj4 .project-image {
  background: url("../img/navbar.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.project-image:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0) 60%,rgba(0,0,0,0));
  background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0) 60%,rgba(0,0,0,0));
}

.recent-posts,
.all-js-projects,
.websites {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.websites .owl-item img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.carousel {
  width: 100%;
  padding: 0 30px;
}

.carousel .card-proj {
  text-align: center;
  color: var(--text-secondary);
  margin: 20px 0;
  font-size: 90px;
  font-weight: 600;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.carousel .card-proj:hover {
  color: var(--primary);
}

.carousel .card-proj p{
  font-size: 1.5rem;
}

.owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  font-size: 2rem !important;
  margin: 0 6px;
  text-shadow: 2px 4px 3px var(--text-shadow);
}

.owl-dots{
  text-align: center;
  margin-top: 25px;
}
.carousel-website .owl-dots {
  margin-top: 0px;
}

.owl-dot{
  height: 15px;
  width: 15px;
  margin: 0 5px;
  outline: none;
  border-radius: 2px;
  border: 2px solid var(--text-primary) !important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: var(--text-primary) !important;
}

.carousel.owl-carousel .owl-item img {
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-control,
.btn {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tf-1 {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tf-2 {
  scrollbar-color: red;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
          animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
}

.textarea {
  scrollbar-width: none;
  resize: none;
  height: 86px;
}

.textarea::-webkit-scrollbar {
  width: 0px;
}

.btn-1 {
  color: #fff;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
          animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}

.btn-2 {
  color: #fff;
  margin-left: 10px;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
          animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

/*
----------------------------
----------RESPONSIVE--------
----------------------------
*/

/* Small screens */
@media only screen and (max-width: 600px) {
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-y: hidden;
    background: var(--bg-secondary);
  }

  .logo {
    display: none;
  }

  .sidebar-nav {
    flex-direction: row;
    flex-basis: auto;
  }

  .left-border {
    display: none;
  }

  .sidebar-item {
    position: static;
  }

  .sidebar .sidebar-item .tooltip {
    display: none;
  }

  .sidebar-link {
    justify-content: center;
  }

  .sidebar-link i {
    margin: 0;
  }

  .link-text {
    display: none;
    margin-left: 0;
  }

  .theme-desc:before {
    display: none;
  }

  main {
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 5rem;
  }

  .section-one {
    min-height: calc(100vh - 5rem);
  }

  .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .logotipo img {
    width: 90px;
    height: 90px;
  }

  .title-text {
    white-space: nowrap;
    padding: 0 1.5rem;
    text-align: center;
  }

  .title-text h1,
  .typing-effect h2 {
    font-size: 1.8rem;
  }

  .all-js-title h2 {
    font-size: 1.5rem;
  }

  .owl-nav {
    margin-top: 0;
  }

  .owl-dots {
    margin-top: 0;
  }
  
  .to-top {
    width: 40px;
    height: 40px;
    bottom: 6rem;
  }
}

@media only screen and (min-width: 1150px) {
  .content-container {
    width: 988px;
  }
}

@media only screen and (max-width: 1150px) {
  .main-project {
    height: 1200px;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "proj1"
      "proj2"
      "proj3"
      "proj4"; 
  }

  .image-title {
    font-size: 1.5rem !important;
  }

  .image-desc p {
    font-size: 1rem !important;
  }

  .proj4 .project-image {
    background-position: top;
  }

}

@media only screen and (max-width: 768px) {
  .scroll-line {
    animation: animate 2.5s infinite reverse;
  }

  .scroll-line-div i {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .sidebar.open {
    width: 16rem;
  }

  .sidebar.open .link-text {
    opacity: 1;
    visibility: visible;
  }

  .sidebar.open .logo .menu-btn {
    margin-left: 11rem;
  }

  .sidebar.open .logo-text {
    left: 1rem;
  }

  .sidebar.open .theme-desc:before {
    opacity: 1;
    display: block;
  }

  .sidebar.open .sidebar-item .tooltip {
    display: none;
  }
}

body.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-shadow: rgba(255,255,255,0.2);
  --nav-shadow: 182, 182, 182;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --text-shadow: rgba(0,0,0,0.3);
  --nav-shadow: 31, 31, 31;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.theme-icon {
  display: none;
}

#darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.light #darkIcon {
  display: none;
}

/*
--------------------------
--------ANIMATIONS--------
--------------------------
*/

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(0);
    transform-origin: top;
  }
  45% {
    transform: translateY(0) scaleY(1);
    transform-origin: top;
  }
  50% {
    transform: translateY(0) scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(0) scaleY(0);
    transform-origin: bottom;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
            transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
            transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

