.section-one {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.scroll-line-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
}

.scroll-line {
  z-index: 20;
  display: block;
  width: 2px;
  height: 150px;
  margin-left: -1px;
  background: var(--text-primary);
  transform-origin: top;
  transition: scaleY(0);
  animation: animate 2s infinite forwards;
  animation-play-state: running;
}

.scroll-line-div label {
  margin-top: 20px;
}

.scroll-line.animate {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(0);
    transform-origin: top;
  }
  45% {
    transform: translateY(0) scaleY(1);
    transform-origin: top;
  }
  50% {
    transform: translateY(0) scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(0) scaleY(0);
    transform-origin: bottom;
  }
}

.section-main h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.container-fluid {
  background: var(--bg-secondary);
}

.content-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .scroll-line-div {
    bottom: 7rem;
  }

  .container-fluid {
    margin-top: -5rem;
  }
}