/*
# Creator: Arreaum
# GitHub: https://github.com/arriaoedu123/
# Creation date: 21/08/2021
# Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --blue-light: #0066FF;
  --light-blue-light: #3D8BFF;
  --blue-dark: #003B92;
  --light-blue-dark: #0047B0;
  --dark-mode-bg: #091921;
  --light-mode-bg: #d1dae3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--light-blue-light);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

body.dark .sidebar {
  background: var(--light-blue-dark);
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
  margin-left: 15px;
  text-decoration: none;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 2;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn-burguer {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn-burguer::before,
.menu-btn-burguer::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn-burguer::before {
  transform: translateY(-10px);
}

.menu-btn-burguer::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn-burguer {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burguer::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burguer::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  padding-left: 0px;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  margin-left: 5px;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: transparent;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--blue-light);
}

body.dark .sidebar li a:hover .links_name,
body.dark .sidebar li a:hover i {
  color: var(--blue-light-dark);
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar .theme{
  position: fixed;
  height: 69px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--blue-light);
  transition: all 0.5s ease;
  overflow: hidden;
}

body.dark .sidebar .theme {
  background: var(--blue-dark);
}

.sidebar.open .theme{
  width: 250px;
}

.section-main{
  position: relative;
  background: var(--light-mode-bg);
  color: #000;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

body.dark .section-main {
  background: var(--dark-mode-bg);
  color: #fff;
}

.sidebar.open ~ .section-main{
  left: 250px;
  width: calc(100% - 250px);
}

.section-main .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

.toggle-theme {
  transition: all 0.5s ease;
  border-radius: 50% !important;
  cursor: pointer;
}

.toggle-theme:hover {
  background: rgba(255, 255, 255, 0.5);
}

.toggle-theme.active {
  background: #fff;
  color: var(--light-blue-light);
}

body.dark .toggle-theme.active {
  color: var(--light-blue-dark);
}

.theme {
  display: flex;
  align-items: center;
}

.sidebar .theme .theme-desc:before {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.5s ease;
  content: 'Dark Mode Off';
  white-space: nowrap;
}

.toggle-theme.active ~ .theme-desc:before {
  content: 'Dark Mode On';
}

.sidebar.open .theme .theme-desc:before {
  opacity: 1;
}

.section-one {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 25px;
}

.scroll-line {
  position: absolute;
  z-index: 20;
  display: block;
  top: auto;
  bottom: 100px;
  left: 50%;
  width: 2px;
  height: 150px;
  margin-left: -1px;
  background: #000;
  transform-origin: top;
  transition: scaleY(0);
  animation: animate 2s infinite forwards;
  animation-play-state: running;
}

body.dark .scroll-line {
  background: #fff;
}

.scroll-line.animate {
  animation-play-state: paused;
}

.scroll-text {
  position: absolute;
  bottom: 50px;
}

.section-main h1 {
  font-size: 30px;
  text-transform: uppercase;
}


@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(0);
    transform-origin: top;
  }
  45% {
    transform: translateY(0) scaleY(1);
    transform-origin: top;
  }
  50% {
    transform: translateY(0) scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(0) scaleY(0);
    transform-origin: bottom;
  }
}
